name: Terraform Verify

on:
  pull_request:
    branches: 
      - main
  
permissions:
  id-token: write
  contents: read

env:
  TF_ENV: dev
  TF_VERSION: 1.13.4

jobs:
  verify:
    name: Terraform Verify
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: $TF_VERSION

      - name: Terraform Format Check
        run: terraform fmt -check -recursive

      - name: Install tflint
        uses: terraform-linters/setup-tflint@v6
        with:
          tflint_version: latest

      - name: Init TFLint
        run: tflint --init
        env:
          # https://github.com/terraform-linters/tflint/blob/master/docs/user-guide/plugins.md#avoiding-rate-limiting
          GITHUB_TOKEN: ${{ github.token }}

      - name: Run tflint (Lint)
        run: tflint --recursive

      - name: Run TFLint
        run: tflint -f compact
